<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Peter*s Blog</title>
    <!--CHECK HERE-->
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/data/images/icon.png" />
  </head>
  <body>
    <header>
      <h1><a href="/">Peter*s Blog</a></h1>
      <div id="social_box">
        
      </div>
      <p>A blog covering my exploration of Ruby, HTML/CSS, JavaScript, and web development in general.  <a href="/markdown/about_me">About Me</a></p>
      <nav>
        <ul>
          <li class="break">Projects</li>
          <li><a href="/markdown/trumpku">Trumpku</a></li>
          <li class="break">Blog Posts</li>
          <li><a href="/markdown/deploy_heroku">Deploying a Clean Cloud9 Workspace to Heroku</a></li>
          <li><a href="/markdown/js_recursion">Infinite Recursion and Variable Scoping in JS</a></li>
          <li class="break">Cheat Sheets</li>
          <li><a href="/markdown/js_cheat_sheet">JavaScript Cheat Sheet</a></li>
          <li><a href="/markdown/2">HTML/CSS Cheat Sheet</a></li>
          
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
