<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Peter*s Blog</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/data/images/icon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/scripts/toTop.js"></script>
    <script src="/scripts/copyButton.js"></script>
  </head>
  <body>
    <header>
      <h1><a href="/">Peter*s Blog</a></h1>
      <div id="social_box">

      </div>
      <p>A blog covering my exploration of Ruby, HTML/CSS, JavaScript, and web development in general.  <a href="/markdown/about_me">About Me.</a></p>
      <nav>
        <ul>
          <li class="break">Projects</li>
          <li><a href="/markdown/trumpku">Trumpku</a></li>
          <li class="break">Blog Posts</li>
          <li><a href="/markdown/json_prototype">JavaScript Inheritance and Client-side Storage</a></li>
          <li><a href="/markdown/deploy_heroku">Deploying a Clean Cloud9 Workspace to Heroku</a></li>
          <li><a href="/markdown/js_recursion">Infinite Recursion and Variable Scoping in JS</a></li>
          <li><a href="/markdown/event_handler">EventListeners/Handlers in JS</a></li>
          <li class="break">Cheat Sheets</li>
          <li><a href="/markdown/cdn">CDNs</a></li>
          <li><a href="/markdown/localstorage">Local Storage</a></li>
          <li><a href="/markdown/handlebars">Handlebars</a></li>
          <li><a href="/markdown/jquery">jQuery</a></li>
          <li><a href="/markdown/js_cheat_sheet">JavaScript</a></li>
          <li><a href="/markdown/js_objects">JS Objects, Context and Closures</a></li>
          <li><a href="/markdown/oo_js">Object-Oriented JavaScript</a></li>
          <li><a href="/markdown/dom">Document Object Model</a></li>
          <li><a href="/markdown/2">HTML/CSS</a></li>
          <li><a href="/markdown/sql">SQL</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
