/************************/
/*body styles*/
/************************/

body {
  max-width: 1024px;
  margin: 0 auto 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
  overflow-y: scroll;
  font-size: 16px;
}

/************************/
/*header/nav styles*/
/************************/

header {
  overflow: hidden;
  height: 100%;
  width: 200px;
  float: left;
  background: #ccc;
  box-sizing: border-box;
  margin-top: -20px;
  padding-bottom: 99999px;
  margin-bottom: -99999px;
}

header h1:hover,
header ul li:hover {
  background: orange;
}

header ul li.break:hover {
  background: #ccc;
}

header h1:hover > a,
header ul li:hover > a {
  color: #fff;
}

header a {
  display: inline-block;
  width: 100%;
}

header:after,
header div:after {
  display: block;
  content: '';
  clear: both;
}

header h1 a {
  font-size: 40px;
}

header div {
  display: block;
  background: url("../data/images/headshot.jpg") no-repeat;
  background-size: cover;
  width: 200px;
  height: 300px;
  overflow: hidden;
}

header nav {
  margin: 20px 0;
}

header nav > a:last-of-type {
  position: fixed;
  bottom: 50px;
}

header p {
  line-height: 1.5;
  padding: 10px;
}

header p a {
  display: inline;
}

header ul a,
header nav a {
  padding: 0 10px 0 20px;
  box-sizing: border-box;
}

header h1 a {
  box-sizing: border-box;
  padding: 10px 20px 20px 10px;
}

header ul li {
  padding-bottom: 10px;
}

header ul li.break {
  color: #551a8b;
  font-weight: 600;
  margin-left: .5rem;
}

/************************/
/*main (content) styles*/
/************************/

main {
  padding: 0 0 50px 230px;
  box-sizing: border-box;
}

main a {
  color: orange;
}

main a:hover {
  text-decoration: underline;
}

main code {
  background-color: #eff0f1;
  border-radius: 3px;
  color: #000;
  font-size: .8rem;
  padding: 3px 5px;
}

main li {
  list-style: disc;
  margin-left: 20px;
}

main pre {
  padding: 10px 10px 10px 20px;
  color: #000;
  background: #eff0f1;
  box-sizing: border-box;
  border-left: 4px solid #ccc;
  border-radius: 3px;
}

main pre code {
  padding-left: 0;
}

main h1 {
  font-size: 40px;
  margin: 20px 0;
  border-bottom: 2px solid #ccc;
}

main h1.hovered:hover {
  cursor: pointer;
}

main h1.hovered:after {
  color: orange;
  content: ' To Top️';
}

main h2 {
  font-size: 30px;
  margin: 15px 0;
  color: #551a8b;
}

main h3 {
  font-size: 20px;
  color: #551a8b;
  margin: 15px 0;
}

main h4 {
  font-size: 20px;
  margin: 10px 0;
  color: #551a8b;
}

main img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main p {
  margin: 10px 0;
  line-height: 1.5;
}

main table {
  margin-bottom: 20px;
}

main table,
main table th,
main table td {
  border-collapse: collapse;
  border: 2px solid #ccc;
}

/************************/
/*footer styles*/
/************************/

footer {
  clear: both;
}

/************************/
/*responsive layouts*/
/************************/

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  header {
    width: 150px;
  }
  header > a {
    display: none;
  }
  header h1 {
    padding-bottom: 10px;
  }
  main {
    padding-left: 170px;
  }
}
