body {
  max-width: 1024px;
  margin: 0 auto 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
  overflow-y: scroll;
  font-size: 15px;
}

footer {
  clear: both;
}

header {
  overflow: hidden;
  height: 100%;
  width: 200px;
  float: left;
  background: #ccc;
  box-sizing: border-box;
  margin-top: -20px;
  padding-bottom: 99999px;
  margin-bottom: -99999px;
}

header h1 a {
  font-size: 40px;
}

header:after,
header div:after {
  display: block;
  content: '';
  clear: both;
}

header div {
  display: block;
  background: url("../data/images/headshot.jpg") no-repeat;
  background-size: cover;
  width: 200px;
  height: 300px;
  overflow: hidden;
}

header nav {
  margin: 20px 0;
}

header a,
header nav {
  /*padding: 10px;*/
}

header a {
  display: inline-block;
  width: 100%;
}

header p {
  line-height: 1.5;
}

header p,
header ul a,
header h1 a {
  padding: 0 10px;
  box-sizing: border-box;
}

header h1 {
  padding: 5px 0 15px 0;
}

main {
  padding: 0 0 50px 230px;
  box-sizing: border-box;
}

main a:hover {
  text-decoration: underline;
}

main li {
  list-style: disc;
  margin-left: 20px;
}

main pre {
  padding: 10px 10px 10px 20px;
  color: #000;
  background: #eff0f1;
  box-sizing: border-box;
  border-left: 4px solid #ccc;
}

main h1 {
  font-size: 35px;
  margin: 20px 0;
  border-bottom: 2px solid #ccc;
}

main h2 {
  font-size: 20px;
  margin: 15px 0;
  color: #404040;
}

main h3 {
  font-size: 18px;
  color: #404040;
  margin: 15px 0;
}

main h4 {
  font-size: 8px;
  font-style: italic;
  color: #8c8c8c;
}

main img {
  width: 100%;
}

main p {
  margin: 10px 0;
  line-height: 1.5;
}

main table {
  margin-bottom: 20px;
}

main table,
main table th,
main table td {
  border-collapse: collapse;
  border: 2px solid #ccc;
}

header ul li {
  padding-bottom: 10px;
}

header h1:hover,
header ul li:hover {
  background: orange;
}

header h1:hover > a,
header ul li:hover > a {
  color: #fff;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  header {
    width: 150px;
  }
  header > a {
    display: none;
  }
  header h1 {
    padding-bottom: 10px;
  }
  main {
    padding-left: 170px;
  }
}

/*@media (max-width: 480px) {*/
/*  h1 {*/
/*    font-size: 30px;*/
/*  }*/
/*  header {*/
/*    display: none;*/
/*  }*/
/*  main {*/
/*    padding-left: 20px;*/
/*  }*/
/*}*/
